Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Settings.cmake: Cleanup component variable names
  Settings.cmake
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use full path names to lib*.a
  ProductController/CMakeLists.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Settings.cmake: Cleanup component variable names.
  Settings.cmake
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

[CASTLE-31628] USB DHCP server sets invalid options
  opt-bose-fs/bin/set-usb-mode
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bluetooth Config Injection (#766)
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Use changed minimalFS
  Makefile
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Get Amazon, Deezer, IHeartRadio, and SiriusXM from new component AudioSource-MusicServices instead of SoundTouch-SDK. This is part of getting rid of SoundTouch-SDK.
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

use AudioSource-AirPlay2 component rather than getting AirPlay2 from Castle-Fork (#781)
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Switch MusicServices to stable
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebBrussels to 5.0.2
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

use separate AirPlay2 component
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CASTLE-33112 add VFE_NUMBER_OF_MIC_CHANNELS to features.json (#784)
  features.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebMonaco to 5.0.2 (#785)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update Makefile
  Makefile
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update Makefile
  Makefile
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update ipks.txt
  ipks.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update Shepherd.xml
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update package_names.txt
  package_names.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update create-product-ipk
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

use stable branch of new airplay component
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

use stable branch for AirPlay2 component (#791)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add pre recovery script for Telemetry (#792)
  opt-bose-fs/bin/shepherd-pre-recovery
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update lpmservice and lightbarcontroller components. (#793)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Iot as a component (#770)
  Makefile
  components.json
  ipks.txt
  opt-bose-fs/etc/Shepherd.xml
  package_names.txt
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Revert "Iot as a component (#770)" (#794)
  Makefile
  components.json
  ipks.txt
  opt-bose-fs/etc/Shepherd.xml
  package_names.txt
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove fields irrelevant to PGC
  opt-bose-fs/etc/ProductConfig.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use stable on ProductUIAssets
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Eddie/Iot as a component (#798)
  Makefile
  components.json
  ipks.txt
  opt-bose-fs/etc/Shepherd.xml
  package_names.txt
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Copy whitespace change from taylor/master
  Makefile
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Stay with HSP-Images 4.12 for now
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update SoundTouch
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
