Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips

Bump monaco version
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade the lpm image to latest release.
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebBrussels to 4.0.5
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

fix Alexa skipback and previous not working
  ProductController/CustomSTSController/ProductSTSStateDeviceControl.cpp
  ProductController/CustomSTSController/ProductSTSStateDeviceControl.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update pts-info
  opt-bose-fs/bin/pts-info
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json for weekly build
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

verson 4.0.4
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Commit for removal of CastleLibs
  Settings.cmake
  components.json
  get-device-id/CMakeLists.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 4.0.4
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

added enableBTOut option
  EC/Properties/Compile
  scripts/create-product-ipk
Owners: @Alfred-von-Campe-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Demote a log message to DEBUG.
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Curl components upgrade
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Components BoseLibs upgrade
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

use specific branch of Bluetooth
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

-implement review feedback
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update Monaco to 4.0.6
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

added quote
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Set IoT to reboot on crash, due to secure key hsp bug, MR2
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

AVS IPK separation
  scripts/create-avs-ipk
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

fix script by creating output dirs
  scripts/create-avs-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Change makefile to take package list as input
  Makefile
  ipks.txt
  package_names.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Merge pull request #599 from BoseCorp/CASTLE-28303
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

remove EC option as of now
  EC/Properties/Compile
Owners: @Alfred-von-Campe-Bose

disable btout as of now
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

enabled btout feature
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Professor DSP version 3.0.7
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose
