Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips

Rename component: Passport -> PassportService
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Rename component: Passport -> PassportService
  components.json
  scripts/create-minimal-product-tar
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

components sort
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

strip-symbols is now in CastleTools.git
  scripts/strip-symbols
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

strip-symbols is now in CastleTools.git
  scripts/create-avs-ipk
  scripts/create-product-ipk
  scripts/create-recovery-ipk
  scripts/create-software-update-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Convert to use AudioSource-Spotify
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Convert to use AudioSource-Spotify
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update Components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

components for 2019MR2 20190506
  components.json
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use a common IsAllModuleReady() during boot and coming out of LowPowerStandby
  ProductController/CustomProductController.cpp
  ProductController/CustomProductController.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use latest version of AudioSource-UPnP
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use stable soundtouch
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use stable soundtouch-sdk
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Revert whitespace changes
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

revert final whitespace changes
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

revert whitespace changes
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

revert final whitespace change
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

run components sort
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

run components sort
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

remove obsolete component opensource-opkg-native (#701)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Don't kill/start BT on suspend/resume
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update release_lpm_package.xml
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 5.0.2
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update README.md
  README.md
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Revert "Don't kill/start BT on suspend/resume"
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

ProductConfig.json: New.
  opt-bose-fs/etc/ProductConfig.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components to this week's release builds
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

pts-info: No stdin.
  opt-bose-fs/bin/pts-info
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bt lps (#714)
  components.json
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Revert change to version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Dinghy (WPE) 1.0.5 with 500MB memory cap (#715)
  components.json
  opt-bose-fs/etc/Shepherd-Monaco.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose
