Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @Meir-Mechtinger-Bose @Yishai-Sered-Bose @John-Potemri-Bose
/EC/ @Alfred-von-Campe-Bose @Meir-Mechtinger-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose

Upgrade components.
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

version.txt = 3.0.18
  version.txt
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Updated components.
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Remove previously deprecated script push-to-target
  scripts/push-to-target
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Allow on-demand install of TestUtils.
  Makefile
  scripts/pushup
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Remove long obsolete symlink for RivieraLpmService
  Makefile
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Remove unused variable $(RIVIERA_LPM_TOOLS_DIR)
  Makefile
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Remove unused variable $(PRODUCTCONTROLLERCOMMONPROTO)
  Makefile
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Delete redundant mkdir
  Makefile
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

component update to stable
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Edits to battery Frontdoor API based on PR comments
  ProductController/BatteryManager/BatteryManager.cpp
  ProductController/BatteryManager/BatteryManager.h
  ProductController/ProductCommandLine.cpp
  ProductController/ProductCommandLine.h
  ProductController/Protobufs/BatteryManager.proto
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Deploy more component info.
  scripts/collect-deployables
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Update Monaco to MR2 4.0.0 Release
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Additional edits based on PR feedback
  ProductController/BatteryManager/BatteryManager.cpp
  ProductController/BatteryManager/BatteryManager.h
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

version.txt = 3.0.19
  version.txt
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

update to release stable coponents
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

version.txt = 3.1.0
  version.txt
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Resolve review comments
  EC/Properties/Compile
  Makefile
  scripts/create-recovery-ipk
Owners: @Alfred-von-Campe-Bose, @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Upgrade SoundTouch-SDK-qc8017_32
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Remove --single-buffer- arg to run_dighy This is believed to cause the "uptime" crash and is no longer needed.
  opt-bose-fs/etc/Shepherd-Monaco.xml
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Additional edits based on PR feedback
  ProductController/BatteryManager/BatteryManager.cpp
  ProductController/BatteryManager/BatteryManager.h
  ProductController/ProductCommandLine.cpp
  ProductController/Protobufs/BatteryManager.proto
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Additional edits based on PR feedback
  ProductController/ProductCommandLine.cpp
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Revert "Additional edits based on PR feedback"
  ProductController/ProductCommandLine.cpp
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Additional edits based on PR feedback
  ProductController/ProductCommandLine.cpp
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Upgrade SoundTouch-SDK to Release build
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

PGC-4116 - always send key release to QSS
  ProductController/CustomProductKeyInputManager/CustomProductKeyInputManager.cpp
  ProductController/CustomProductKeyInputManager/CustomProductKeyInputManager.h
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Update components for superbuild
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Adjust whitespace.
  EC/Properties/Compile
Owners: @Alfred-von-Campe-Bose, @Meir-Mechtinger-Bose

Undo whitespace change.
  scripts/create-recovery-ipk
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Update components.
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Update DeviceController
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Reference LPM release.
  LpmManifestFiles/release_lpm_package.xml
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Update BoseWebBrussels to 4.0.0
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Fixed access to shared_ptr and updated comments
  ProductController/CustomProductController.h
  ProductController/ProductCommandLine.cpp
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Reverted changes to comments
  ProductController/ProductCommandLine.cpp
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

version.txt = 3.1.1
  version.txt
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

added CastleVoicePromptsService
  components.json
  scripts/create-product-ipk
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

MADRID-2293 and PGC-4157: When Power Sync is disabled while Sync TV or Source Sync is enabled, Madrid shows "Something went wrong"
  ProductController/CustomProductController.cpp
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Revert software update to MR1
  components.json
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose

Fix for LPM update not working on top of new LPM.
  LpmManifestFiles/release_lpm_package.xml
Owners: @Meir-Mechtinger-Bose, @Yishai-Sered-Bose, @John-Potemri-Bose
