Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

use latest minimalfs
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

use latest minimalfs
  Makefile
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove AudioNotification daemon.
  components.json
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-33589: convert Eddie to HSM owning the state objects
  ProductController/CustomHsm/CustomProductControllerStates.h
  ProductController/CustomProductController.cpp
  ProductController/CustomProductController.h
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

chmod -x
  ProductController/CustomHsm/CustomProductControllerStates.h
  ProductController/CustomProductController.h
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

New LPM release 3.0.6
  LpmManifestFiles/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebMonaco to 5.0.3
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebBrussels to 5.0.3
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade BoseWebMonaco
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade BoseWebMonaco
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Component updates
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix bluetooth component stage script invocation.
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Add button event and bluetooth to proto
  ProductController/CustomProductController.cpp
  ProductController/Protobufs/KeyNames.proto
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Copy paste
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

AVS added in lowpower mode only if file exists
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix set-rndis.
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4663 - Remove NetManager from low power list
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

set-rndis: Allow the command to finish.
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

set-rndis: Prepare for new HSP.
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix set-rndis.
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

components.json: Remove unused components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Delete duplicate comment line
  scripts/create-hsp-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

version.txt = 5.0.5
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove VPAController and GVA from Low Power list in SoundTouch script.
  components.json
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

conflicts resolved
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove force-rndis
  opt-bose-fs/bin/SoundTouch
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-1192: remove Latency fudge factor
  ProductController/CustomSTSController/ProductSTSStateDeviceControl.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove need for svc-pts...
  Makefile
  components.json
  opt-bose-fs/bin/encrypt-logs
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

PGC-4662: AdaptIQ couldn't hear anything
  ProductController/CustomSTSController/ProductSTSStateDeviceControl.cpp
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove audio notification from shepherd.xml
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Re-fetch now playing if on and source set to standby
  ProductController/ProductCecHelper.cpp
  ProductController/ProductCecHelper.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Adding Jenkinsfile for PR testing
  Jenkinsfile-Professor-Master
Owners: @Aman-Osman-Bose

Create Jenkinsfile-Professor-CI
  Jenkinsfile-Professor-CI
Owners: @Aman-Osman-Bose

Rename Jenkinsfile-Professor-Master to Jenkinsfile-Professor-CI
  Jenkinsfile-Professor-CI
Owners: @Aman-Osman-Bose

Rename Jenkinsfile-Eddie-Master to Jenkinsfile-Eddie-CI
  Jenkinsfile-Eddie-CI
Owners: @Aman-Osman-Bose

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
