Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Include Eddie 3.0.5 LPM release (#807)
  LpmManifestFiles/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Professor DSP version 5.0.0
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-33284 add GVA_DEBUG to features.json (#811)
  features.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update CustomProductController.cpp
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Removed NetManager from lowpower to terminate and resume (#804)
  components.json
  opt-bose-fs/bin/SoundTouch
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Include new 1.0.3 Eddie LPM diags release (#817)
  LpmManifestFiles/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-33171 - Update Software Update (#820)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Modify to use full HSP packagae by default
  scripts/create-hsp-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

fix build issue by allowing Release parameter in hsp-ipk
  scripts/create-hsp-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Add pre recovery script for Telemetry
  opt-bose-fs/bin/shepherd-pre-recovery
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update webkit
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 5.0.4
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-22379: AudioPath API change
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductAudioService/CustomProductAudioService.h
  components.json
  set-versions
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4561 - Update display_controller.json for new Webkit PID file (#813)
  components.json
  opt-bose-fs/etc/display_controller.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4623: Use APProductCommon::MainStreamAudioSettingsParam_t in PGC's APProduct interactions
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductAudioService/CustomProductAudioService.h
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove file unintentionally added
  set-versions
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4626: When playing a PRODUCT source from Eddie/PGC as master, DSP InputRoute is set to Optical
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components, still need dvc
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

EmailRecipients += Anthony_DiMarco
  EC/Properties/EmailRecipients
Owners: @Alfred-von-Campe-Bose

EmailRecipients += Anthony_DiMarco
  EC/Properties/EmailRecipients
Owners: @Alfred-von-Campe-Bose

Dvc and version
  components.json
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC side of PGC-4629
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Professor DSP version 5.0.1
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bump LPM
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Adapted state object creation. AiQ state needed normal constructor arguments
  ProductController/CustomHsm/CustomProductControllerStateAdaptIQ.cpp
  ProductController/CustomHsm/CustomProductControllerStateAdaptIQ.h
  ProductController/CustomHsm/CustomProductControllerStates.h
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Don't need to link with libSTSAmazon.a. Don't copy obsolete AudioNotification binary
  ProductController/CMakeLists.txt
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

ProductController doesn't need to link with StsAmazon. Don't copy obsolete program AudioNotification
  ProductController/CMakeLists.txt
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

update HSP
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Change BoseWebMonaco back to 5.0.2
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

create hsp.ipk to update all partitionS
  components.json
  scripts/create-hsp-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Roll back DSP
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

DVC because
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

HSP images:
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

new minimalfs with clocksync
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

remove duplicate comment
  scripts/create-hsp-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update release_lpm_package.xml
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

fix review comment
  scripts/create-hsp-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

added condition to take only full/partial
  scripts/create-hsp-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
