Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips

Rename Jenkinsfile-Eddie-Master to Jenkinsfile-Eddie-CI
  Jenkinsfile-Eddie-CI
Owners: @Aman-Osman-Bose

Review comments
  ProductController/ProductCecHelper.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use stable on Common
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 5.0.6
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Initial get
  ProductController/ProductCecHelper.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Jenkins file Graphite push change
  Jenkinsfile_nightly
Owners: @Aman-Osman-Bose

Minor change
  Jenkinsfile_nightly
Owners: @Aman-Osman-Bose

Point to 2019_MR3 DSP release candidate. This includes stable changes to enable AdaptIQ 2.0 audio enhancements.
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bump blob version
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix GVA not receiving /voice/stop while entering low power mode.
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-34204: Make LowPowerStandbyTransition a substate of LowPowerStandby.
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4716 Correct the state machine to remove the need for the bandaid
  ProductController/CustomProductController.cpp
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Implement CASTLE-34202: Make LowPowerStandbyTransition a sub-state of LowPowerStandby
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update component.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

settings.cmake and components.json changed
  ProductController/DisplayController/DisplayController.cpp
  Settings.cmake
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebMonaco to 5.0.4
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebBrussels to 5.0.4
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Successfully building with make cmake_build sdk=x86_64
  CMakeLists.txt
  Makefile
  ProductController/CMakeLists.txt
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Changes to InactivityTimers and components.json
  ProductController/DisplayController/DisplayController.cpp
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgraded some components in order to build qc8017_32
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Default target for sdk=x86_64 is now cmake_build
  Makefile
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 5.0.7
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update version.txt
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

store-core: Save signal number, timestamp
  opt-bose-fs/etc/store-core
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Changed components so that you don't have to set-loc for LightbarController-x86_64
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4732_silence: send main stream audio silence status to DeviceController, based on playbackStatus from AudioPath
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductAudioService/CustomProductAudioService.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

.bashrc: Fix prompt
  opt-bose-fs/.bashrc
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

professor/PGC-4732_silence: sending silence status will be done in HandleMessage in ProductController class, instead of ProductAudioService class
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductAudioService/CustomProductAudioService.h
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

professor/PGC-4732_silence: determine and send main stream audio silence status in HandleMessage function
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

professor/PGC-4732_silence: remove empty lines
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Correct github reference; professor/blob/master->CastleProducts/blob/professor/master
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips
