Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips

Revert "Set IoT to reboot on crash, due to secure key hsp bug, MR2"
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Revert "Set IoT to reboot on crash, due to secure key hsp bug, MR2"
  opt-bose-fs/etc/Shepherd.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update ProductSTSStateDeviceControl.cpp
  ProductController/CustomSTSController/ProductSTSStateDeviceControl.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Create a profile entry for Eddie-Club (#611)
  EC/Properties/Compile
Owners: @Alfred-von-Campe-Bose

Fix Incorrect Speaker.bos version
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Modify ReceiveAccessoryListCallback() to fix PGC-4296
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

New SecureDeviceKey, SoundTouch-SDK
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

First attempt to fix PGC-4296 and PGC-3587
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove the functions that are no longer used
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove the third argument from AccessoryRearConfiguration
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove the function that detects missing sub
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add back static for the two functions since they do not access class variables
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add more comments to the modified function
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add code to detect missing bass, PGC-3587
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

If bass fails to connect, send notification to FrontDoor so lightbar blinks
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bump comps for mr2 build
  components.json
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 4.0.5
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Move the code to start rearAccessoryConnect timer out of AccessoryRearConfiguration()
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Move the rear and bass detection code a little down
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add SendAccessoryPairingStateToProduct() to timer callbacks so the status is logged if accessory is missing
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

More formatting
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Move the log out of the loop so it logs only once
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Address some comments from review
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

If an accessory is missing, only set the configurationStatus of that accessory to MISSING
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add "feature kill switch" mechanism
  Makefile
  ProductController/CustomProductController.cpp
  features.json
  scripts/create-features-h
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Typo.
  scripts/create-features-h
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Use uppercase feature names
  features.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Limit variable scope.
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix comment
  scripts/create-features-h
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update APServer
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update APServer
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

check-features: Sanity checks.
  Makefile
  scripts/check-features
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Updated the path
  Jenkinsfile-Eddie-Master
Owners: @Aman-Osman-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

components sort
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose
