Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips

CASTLE-27802: PGC side of using the isLocal field to interpret remote keys
  ProductController/CustomProductKeyInputManager/CustomProductKeyInputManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Updated comment
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update InitializeAccessorySoftwareInstallManager() to fix PGC-4268
  ProductController/CustomProductController.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

-update components -make deferred callback asynchronous
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductAudioService/CustomProductAudioService.h
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Change ProductControllerCommon to stable_mr1.5_2019-pgc-4268-sdong
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update ProductControllerCommon to the new stable_mr1.5_2019 for PGC-4268
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Do not filter intents based on non-local source
  ProductController/CustomProductKeyInputManager/CustomProductKeyInputManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Diags web page fix for eddieclub
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bump ap-page commit hash
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Point to stable branch
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

As per Michael's comment
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

As per Michael comment
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

moving html code outside
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

As per Indentation and rename Product_Config
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

As per Michael's comment
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Replace handling of zome membership with nowSelection's isLocal
  ProductController/ProductBLERemoteManager.cpp
  ProductController/ProductBLERemoteManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Updated components file
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix whitespace.
  opt-bose-fs/diag/main
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Professor DSP version 3.0.6
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update bose-web-riviera-update-page commit hash
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update NetworkService components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Mirror pts log changes from eddie
  opt-bose-fs/bin/pts-info
  opt-bose-fs/bin/pts-logs
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update components.json
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components.json -- update.html page busted due to bad variable name
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Superficial change copied from taylor/master
  ProductController/Main.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components.
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove Unicode marker.
  ProductController/CustomHsm/CustomProductControllerStateLowPowerResume.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CustomProductAudioService - Eddie Audio Settings - use macro to reduce number of places to edit
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductAudioService/CustomProductAudioService.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 4.0.3
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update bose-web-update-page commit hash
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update bose-web-update-page commit hash
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

3rd build of 2019 MR2 candidate
  components.json
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

New script: strip-symbols
  scripts/create-product-ipk
  scripts/create-recovery-ipk
  scripts/create-software-update-ipk
  scripts/strip-symbols
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Fix `$this`
  scripts/strip-symbols
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Copy superficial changes from taylor/master
  ProductController/CustomProductController.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

set-rndis: Allow the command to finish.
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Initialize Presets for Madrid to consume
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Add Flipper description
  README.md
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

-fix crash due to empty callback
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose
