Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

version.txt = 5.0.3
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update ap page and update page components to use tags
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update ap page and update page components to use tags (#716)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update components and version for release
  components.json
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

MfgData Bluetooth Device ID Injection (#718)
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

MfgData Bluetooth Device ID Injection (#718)
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Re-work PGC-4396 Gilligan and Gilligan-Premium paired to save soundbar
  ProductController/IntentHandler/SpeakerPairingManager.cpp
  ProductController/IntentHandler/SpeakerPairingManager.h
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Move create-xxx-ipk files to the respective components (#688)
  Makefile
  components.json
  ipks.txt
  package_names.txt
  scripts/create-avs-ipk
  scripts/create-gva-ipk
  scripts/create-hsp-ipk
  scripts/create-monaco-ipk
  scripts/create-product-ipk
  scripts/create-product-script-ipk
  scripts/create-recovery-ipk
  scripts/create-software-update-ipk
  scripts/create-wpe-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Remove part of comment as code reviewer suggested
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

castle 31306 (#739)
  ProductController/CustomProductController.cpp
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-31306 required changes so Professor can take latest Common code
  ProductController/CustomProductController.cpp
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Some changes based on code review
  ProductController/IntentHandler/SpeakerPairingManager.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Eddie/add gva mic mute delay (#744)
  features.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Apply new Shepherd force_recovery field to dinghy/monaco (#745)
  opt-bose-fs/etc/Shepherd-Monaco.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebMonaco to 5.0.1 (#746)
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

create-features-h: Pass through non-Booleans
  scripts/create-features-h
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bump GVA for FLA release
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Version bump
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

chmod -x
  components.json
  opt-bose-fs/etc/Shepherd-Monaco.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Bump Brussels to v5.0.1
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Get Amazon, Deezer, IHeart, and SiriusXM from new component AudioSource-MusicServices. No longer get them from SoundTouch-SDK (#753)
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Update release_lpm_package.xml
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Removed invalid options for USB DHCP server
  opt-bose-fs/bin/set-usb-mode
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Remove ipk creation from product
  Makefile
  ipks.txt
  package_names.txt
  scripts/create-gva-ipk
  scripts/create-product-ipk
  scripts/create-product-script-ipk
  scripts/create-recovery-ipk
  scripts/create-software-update-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

use common strip symbols
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

use common strip symbols
  scripts/create-product-ipk
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Add QSS spam hotfix
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

use validate-version from castletools
  components.json
  scripts/create-brussels-ipk
  scripts/create-hsp-ipk
  scripts/create-product-ipk
  scripts/create-wpe-ipk
  scripts/validate-version
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Cleanup whitespace
  EC/Properties/Compile
  ProductController/CustomProductAudioService/CustomAudioSettingsManager.h
  ProductController/CustomProductAudioService/CustomProductAudioService.cpp
  ProductController/CustomProductKeyInputManager/CustomProductKeyInputManager.cpp
  ProductController/CustomProductKeyInputManager/CustomProductKeyInputManager.h
  ProductController/CustomProductLpmHardwareInterface/CustomProductLpmHardwareInterface.h
  ProductController/Docs/AUX_Playback_Class_Diagram.txt
  ipks.txt
  package_names.txt
Owners: @Alfred-von-Campe-Bose, @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

README: Remove obsolete instructions
  README.md
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

put validate-version back
  scripts/validate-version
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

fix gva.ipk
  Makefile
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

add features.json
  features.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

fix lpm updater tag
  Makefile
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

remove validate version
  scripts/validate-version
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

use new product-startup
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Professor DSP version 3.0.8
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebBrussels to 5.0.1
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
