Repository Nishant-Joshi-Bose/Product-Docker, changes with the owners that CODEOWNERS names for each.
All owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Alfred-von-Campe-Bose, @Aman-Osman-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

* @global-Michael-Cook-Bose @global-Jonathan-Cooper-Bose
/EC/ @Alfred-von-Campe-Bose
/Test/ @Aman-Osman-Bose
/Jenkins* @Aman-Osman-Bose
/scripts/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips
/keys/ @Chirag-Desai-EInfochips @Dharati-Shah-EInfochips

upstage: Better handling of adb's command length limit
  scripts/upstage
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

upstage: Avoid a potential infinite loop.
  scripts/upstage
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

No professor here.
  EC/Properties/Compile
Owners: @Alfred-von-Campe-Bose

version.txt = 5.0.0
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade to the latest FrontDoor
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

A bug fix in FrontDoor
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Activate volume chimes from Voice & update files to includes 50mSec delay
  ProductController/CustomProductController.cpp
  ProductController/CustomProductController.h
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

set-rndis: Prepare for new HSP.
  opt-bose-fs/bin/set-rndis
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

components for 4.0.6
  components.json
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Fix installing all libraries used by Upnp process
  Settings.cmake
  components.json
  scripts/create-product-ipk
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Fix installing gupnp and related libraries after using new Castle-Fork-CompMS which now uses gssdp. That required changing where libraries are set up.
  components.json
  scripts/create-product-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Re-enable transport controls
  ProductController/CustomSTSController/ProductSTSStateDeviceControl.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebMonaco to 5.0.0
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update BoseWebBrussels to 5.0.0
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

EmailRecipients scrubbing.
  EC/Properties/EmailRecipients
Owners: @Alfred-von-Campe-Bose

this change got lost during merge. Recommitting the changes
  ProductController/ProductCecHelper.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Revert "this change got lost during merge. Recommitting the changes"
  ProductController/ProductCecHelper.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

this change got lost during merging. Recommitting the change
  ProductController/ProductCecHelper.cpp
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Use latest version of AudioSource-UPnP
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC-4289 Send MUTE key id instead of UNDEFINED when mute keypressed
  ProductController/CustomProductController.cpp
  ProductController/Protobufs/KeyNames.proto
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

PGC_4281-forceUpdate: add force update intent for press hold SoundTouch button for 10s
  ProductController/CustomProductController.cpp
  ProductController/IntentHandler/IntentHandler.h
  ProductController/Protobufs/Intents.proto
  opt-bose-fs/etc/UserKeyConfig.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

opkg native reference removed
  scripts/create-product-tar
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

opkg native component reference removed
  scripts/create-product-tar
Owners: @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

CASTLE-31348 add battery feature, use in create-gva-ipk
  features.json
  scripts/create-gva-ipk
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose, @Chirag-Desai-EInfochips, @Dharati-Shah-EInfochips

Upgrade front door
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade front door
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade front door
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

version.txt = 5.0.1
  version.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

ChimesConfiguration.json: Fix whitespace.
  opt-bose-fs/etc/chimes/ChimesConfiguration.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Commit for removal of CastleLibs
  Settings.cmake
  components.json
  get-device-id/CMakeLists.txt
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

upgrade components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

fix components
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

update README
  README.md
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Rename component: FrontDoor -> FrontDoorClient
  Settings.cmake
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update speaker.bos to fix L/R swap
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Update speaker.bos to fix L/R swap
  LpmManifestFiles/Alpha/release_lpm_package.xml
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose

Rename component: FrontDoor -> FrontDoorClient
  Settings.cmake
  components.json
Owners: @global-Michael-Cook-Bose, @global-Jonathan-Cooper-Bose
